@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');
body{
    font-family: "Roboto";
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    
    
}

h2{
    font-weight: 700;
    font-size: 24px;
}

p{
    font-weight: 300;
    font-size: 18px;
}

/*HEADER*/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerTitle{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    font-family: "Shrikhand";
    font-weight: 400;
    font-size: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) ;
}
/**/

form{
    display:flex;
    background-color: #EAEAEA;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 60px;

    
}

.exploreSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F7F7F7;
    padding-bottom: 60px;;
}

.exploreSection h2{
    padding-top: 28px;
}

input{
    font-weight: 500;
    font-size: 16px;
    background-color: #EAEAEA;
    border: none;
    padding-left: 15px;
}

button{
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 218px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    border: none;
    margin-top: 27px;
}

/* SECTION FONCTIONNEMENT - Reserving Process */

.purpleTag{
    border: 1px solid #9356DC;
    height: 24px;
    width: 24px;
    color: white;
    background-color: #9356DC;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    left: -12px;
}

.reservingProcess{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.processSection h2{
    padding-top: 48px;
    padding-left: 20px;
}
.buttonProcess{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 322px;
    height: 72px;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    gap: 10px;
    font-weight: 500;
font-size: 16px;

}

.tagwithButton{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* SECTION RESTAURANTS */

.sectionRestaurant{
    background: #F7F7F7;
    margin-top: 70px;
    padding-bottom: 65px;
    width: 100%;
}

.sectionRestaurant h2{
    padding-top: 50px;
    padding-left: 20px;

}

.displayCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cardRestaurant{
    display: flex;
    flex-direction: column;
    width: 335px;
    Height: 251px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.imageRestaurant{
    width: 335px;
    height: 174px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.nouveauTag{
    position: absolute;
    top: 15px;
    right: 15px;

    width: 80px;
    height: 29px;
    background-color: #99E2D0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    color: #008766;
}

.divRelative{
    position: relative;
}
.containerRestaurant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 335px;
    height: 77px;
}

.textCard{
    padding-left: 13px;
    padding-bottom: 13px;
    line-height: 25px;
}

.textCard h3, p{
    margin: 0;
}


/* FOOTER */

footer{
    color: white;
    background-color: #353535;
    padding-left: 25px;
    padding-top: 30px;
    height:  197px;
}

footer h3{
    font-family: "Shrikhand";
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 30px;
}


.fa-utensils, .fa-handshake-angle{
    margin-right: 9px;
}