.greenBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 600ms;
}

.buttonMenu:hover .greenBlock{
    width: 20%;
    

}

.checkIcon{
    color: white;
    font-size: 22px;
    display: none;
    animation: rotation 500ms 100ms;
    
    
    
    
}

.buttonMenu:hover .checkIcon{
      display: initial;
   
    
}


