.sectionRestaurant{
    background: #F7F7F7;
    margin-top: 70px;
    padding-bottom: 65px;
    width: 100%;
}

.sectionRestaurant h2{
    padding-top: 50px;
    padding-left: 20px;

}

.displayCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cardRestaurant{
    display: flex;
    flex-direction: column;
    width: 335px;
    Height: 251px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.imageRestaurant{
    width: 335px;
    height: 174px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.nouveauTag{
    position: absolute;
    top: 15px;
    right: 15px;

    width: 80px;
    height: 29px;
    background-color: #99E2D0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    color: #008766;
}

.divRelative{
    position: relative;
}
.containerRestaurant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 335px;
    height: 77px;
}

.textCard{
    padding-left: 13px;
    padding-bottom: 13px;
    line-height: 25px;
}

.textCard h3, p{
    margin: 0;
}

.fullheart{
    display:none;
}

.fullheart, .emptyheart{
    font-size: 25px;
}

.hearts{
    margin-bottom: 16px;
    margin-right: 20px;
}

a {
    color: black;
    text-decoration: none;
  
  }

/*PAGES DE RESTAURANTS*/

.imagePageResto{
    height: 275px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.nameRestaurant{
    font-family: "Shrikhand";
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 0;
    
}

.titleRestaurant{
    padding-top: 18px;
    padding-right: 18px;
    padding-left: 18px;
}

.heartsTitle{
    padding-right: 25px;
    padding-top: 10px;
}

.genreTitles{
    font-weight: 300;
    font-size: 16px;
    padding-right: 15px;
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: solid 3px #99E2D0;
    width: 40px;
    margin-left: 15px;
    
}



.plateName h3{
    margin: 0;
}

.containerPlate{
    padding-right: 10px;
    padding-left: 10px;
}

.entrees,.plats,.desserts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-right: 15px;
    padding-left: 15px;
}

.pageMenu{
    padding-left: 0;
    padding-right: 0;
    background: #F7F7F7;
    border-radius: 40px 40px 0px 0px;

    position: absolute;
    width: 100%;
    top: 301px;
    
}

.prix{
    font-weight: 700;
    font-size: 15px;
    padding-right: 10px;
    padding-top: 23px;
}
